---
export interface Props {
  repo: string;
  desc: string;
  icon?: string;
}

const { icon, repo, desc } = Astro.props;
const name = repo.split("/")[1];
---

<a
  class="px-4 py-3 text-current rounded-md transition-colors decoration-none"
  bg="gray-400/10 hover:gray-400/20 "
  href={`https://github.com/${repo}`}
  target="_blank"
>
  <div class="flex h-full items-center justify-center">
    <div flex-1 flex="~ col gap-1">
      <div font-medium leading-relaxed flex items-center justify-between>
        <span>{name}</span>
        <!-- <img h-full src={`https://img.shields.io/github/stars/${repo}?color=%237b50c7`} alt=""> -->
      </div>
      <div op-50 font-normal text-sm>
        {desc}
      </div>
    </div>
    <div ml-4 text-4xl op-80>
      <div class={icon}></div>
    </div>
  </div>
</a>
